@model StudentListASP.Student

@{
    var s = new Storage();
}

@using (Html.BeginForm("Edit", "List", FormMethod.Post))
{
    @Html.AntiForgeryToken()
     @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.IDStudent)
        @Html.HiddenFor(model => model.TimeStamp)
    <table>
        <tr>
            <td>
                @Html.Label("Grupa: ")
            </td>
            <td>
                @Html.DropDownListFor(model => model.Group.Name, new SelectList(s.getGroups()), "", new { @style = "width: 100%" })
            </td>
            <td>@Html.ValidationMessageFor(model => model.Group.Name)</td>
            
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.FirstName)</td>
            <td>@Html.TextBoxFor(model => model.FirstName)</td>
            <td>@Html.ValidationMessageFor(model => model.FirstName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.LastName)</td>
            <td>@Html.EditorFor(model => model.LastName)</td>
            <td>@Html.ValidationMessageFor(model => model.LastName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.IndexNo, new { @class = "control-label col-md-2" })</td>
            <td>@Html.EditorFor(model => model.IndexNo)</td>
            <td>@Html.ValidationMessageFor(model => model.IndexNo)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.BirthPlace, new { @class = "control-label col-md-2" })</td>
            <td>@Html.TextBoxFor(model => model.BirthPlace)</td>
            <td>@Html.ValidationMessageFor(model => model.BirthPlace)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.BirthDate, new { @class = "control-label col-md-2" })</td>
            <td>@Html.EditorFor(model => model.BirthDate)</td>
            <td>@Html.ValidationMessageFor(model => model.BirthDate)</td>
        </tr>
        <tr>
            <td align="center"><input type="submit"  value="Nowy" name="edit" class="submit" /></td>
            <td align="center"><input type="submit" value="Zapisz" name="edit" class="submit" /></td>
            <td align="center"><input type="submit" value="Usun" name="edit" class="submit" /></td>
        </tr>
    </table>
    


}

